{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card card-body blur shadow-blur bg-dark bg-opacity-75 text-white border-0">
          <h2 class="text-center mb-4">
            {{ object|yesno:"Update Cook,Create Cook" }}
          </h2>
          <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid mt-3">
              <input type="submit" value="Yes" class="btn btn-outline-light">
              <a href="{% url "catalog:cook-list" %}" class="btn btn-outline-danger">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
